#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "phanpy"
name = "Phanpy"

description.en = "Minimalistic opinionated Fediverse ⁂ web client"
description.fr = "Client Fediverse ⁂ minimaliste et original"
description.es = "Cliente para el Fediverso ⁂ minimalista y original"

version = "20260107~ynh1"

maintainers = ["xmgz", "trendless"]

[upstream]
license = "MIT"
website = "https://phanpy.social/"
demo = "https://phanpy.social/"
code = "https://github.com/cheeaun/phanpy"

[integration]
yunohost = '>= 12.1.17'
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "350M"
ram.build = "1G"
ram.runtime = "100M"

[antifeatures]
arbitrary-limitations.en = "(Optional) In-line translations feature depends on 3rd party services hosted on translang.phanpy.social."

[install]

    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/phanpy"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.phanpy_client_name]
    ask.en = "Phanpy Client Name"
    help.en = "Webpage/PWA/Card title, client name when registering with token, shown on post (if settings permit)"
    type = "string"
    default = "Phanpy"

    [install.phanpy_default_instance]
    ask.en = "Default instance for log-in"
    help.en = "When logging in, the user will be redirected instantly to this instance's authentication page instead of having to type it in"
    type = "string"
    example = "e.g., mastodon.social"
    optional = true

    [install.phanpy_default_instance_registration_url]
    ask.en = "URL of the instance registration page"
    help.en = "When signing up, the user will be directed to this instance's sign up page"
    type = "string"
    example = "e.g., https://mastodon.social/auth/sign_up"
    optional = true

    [install.phanpy_privacy_policy_url]
    ask.en = "URL of the privacy policy page"
    help.en = "The applicable privacy policy"
    type = "string"
    default = "https://github.com/cheeaun/phanpy/blob/main/PRIVACY.MD"

    [install.phanpy_default_lang]
    ask.en = "Default language"
    type = "string"
    default = "en"

    [install.phanpy_referrer_policy]
    ask.en = "Referrer policy for the site"
    help.en = "See MDN: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy -- this is applied with the <meta> tag on the client-side"
    type = "select"
    choices = ["no-referrer", "no-referrer-when-downgrade", "origin", "origin-when-cross-origin", "same-origin", "strict-origin", "strict-origin-when-cross-origin"]
    default = "origin"

    [install.phanpy_translang_instances]
    ask.en = "Translang instance(s) for translations"
    help.en = "Specify a space-separated list of instances; first will be used as default before falling back to the subsequent instances -- may specify a self-hosted Translating instance, powered by translang-api (https://github.com/cheeaun/translang-api)"
    type = "string"
    default = "translang.phanpy.social"

    [install.phanpy_img_alt_api_url]
    ask.en = "API endpoint for self-hosted instance of img-alt-api "
    help.en = "https://github.com/cheeaun/img-alt-api; If provided, a setting will appear for users to enable the image description generator in the composer"
    type = "string"
    optional = true

    [install.phanpy_giphy_api_key]
    ask.en = "API key for GIPHY"
    help.en = "https://developers.giphy.com; see API docs https://developers.giphy.com/docs/api; If provided, a setting will appear for users to enable the GIF picker in the composer"
    type = "string"
    optional = true

    [install.phanpy_disallow_robots]
    ask.en = "Override the robots.txt file and disallow all web crawlers from indexing the site?"
    help.en = "Leave empty to allow crawling/indexing"
    type = "string"
    default = "true"
    optional = true

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/cheeaun/phanpy/archive/refs/tags/2026.01.07.2e1d0c4.tar.gz"
        sha256 = "bcba09cc227700e84dbad7d558c00e73301959fa46d87fbbaec1a93516736c20"
        autoupdate.upstream = "https://github.com/cheeaun/phanpy"
        autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.nodejs]
    version = "20"
